In [1]:
import pandas as pd

In [ ]:
df = pd.concat(map(pd.read_csv, ['202001.csv', '202002.csv','202003.csv','202004.csv','202005.csv','202006.csv','202007.csv','202008.csv','202009.csv','202010.csv','202011.csv','202012.csv']))

In [ ]:
print(df)

           date  daily_confirmed_cases  ...  geo_id pop_data_2019
0    2020-01-25                    441  ...      CN    1433783692
1    2020-01-26                    665  ...      CN    1433783692
2    2020-01-27                    787  ...      CN    1433783692
3    2020-01-28                   1753  ...      CN    1433783692
4    2020-01-29                   1466  ...      CN    1433783692
..          ...                    ...  ...     ...           ...
135  2020-12-10                 220025  ...      US     329064917
136  2020-12-11                 224680  ...      US     329064917
137  2020-12-12                 234633  ...      US     329064917
138  2020-12-13                 216017  ...      US     329064917
139  2020-12-14                 189723  ...      US     329064917

[3308 rows x 6 columns]

In [ ]:
df['countries_and_territories'].unique()

array(['China', 'Cambodia', 'Malaysia', 'Thailand', 'Indonesia',
       'Singapore', 'Philippines', 'United_States_of_America', 'Laos',
       'Brunei_Darussalam'], dtype=object)

In [ ]:
df[df["countries_and_territories"].isin(["Indonesia"])]

           date  daily_confirmed_cases  ...  geo_id pop_data_2019
124  2020-01-01                      0  ...      ID     270625567
125  2020-01-02                      0  ...      ID     270625567
126  2020-01-03                      0  ...      ID     270625567
127  2020-01-04                      0  ...      ID     270625567
128  2020-01-05                      0  ...      ID     270625567
..          ...                    ...  ...     ...           ...
79   2020-12-10                   6058  ...      ID     270625567
80   2020-12-11                   6033  ...      ID     270625567
81   2020-12-12                   6310  ...      ID     270625567
82   2020-12-13                   6388  ...      ID     270625567
83   2020-12-14                   6189  ...      ID     270625567

[342 rows x 6 columns]

In [ ]:
COVID19_FILTER = df[df["countries_and_territories"].isin(["Indonesia"])]

In [ ]:
print(COVID19_FILTER)

           date  daily_confirmed_cases  ...  geo_id pop_data_2019
124  2020-01-01                      0  ...      ID     270625567
125  2020-01-02                      0  ...      ID     270625567
126  2020-01-03                      0  ...      ID     270625567
127  2020-01-04                      0  ...      ID     270625567
128  2020-01-05                      0  ...      ID     270625567
..          ...                    ...  ...     ...           ...
79   2020-12-10                   6058  ...      ID     270625567
80   2020-12-11                   6033  ...      ID     270625567
81   2020-12-12                   6310  ...      ID     270625567
82   2020-12-13                   6388  ...      ID     270625567
83   2020-12-14                   6189  ...      ID     270625567

[342 rows x 6 columns]

In [ ]:
COVID19_FILTER.to_csv("rizqi_covid_indonesia_2020.csv")