In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import requests

def get_content_len(url):
  response = requests.get(url)
  content = response.text
  print(url,len(content))

In [4]:
urls = ['https://drive.google.com/drive/folders/1vsAl7UqhDmiQHGkEXMGv2veUL5qplwiy?usp=sharing']

In [5]:
for url in urls:
  get_content_len(url)

https://drive.google.com/drive/folders/1vsAl7UqhDmiQHGkEXMGv2veUL5qplwiy?usp=sharing 94589

In [8]:
import multiprocessing

start = time.time()
process = []

for url in urls:
  p = multiprocessing.Process(target=get_content_len,args=[url])
  process.append(p)

for p in process:
  p.start()

for p in process:
  p.join()

end = time.time()
print(f'Process Multiprocessing selesai pada {end-start} detik')

https://drive.google.com/drive/folders/1vsAl7UqhDmiQHGkEXMGv2veUL5qplwiy?usp=sharing 94523
Process Multiprocessing selesai pada 0.2833285331726074 detik

In [2]:
import time

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("rizqi_covid_indonesia_2020.csv")

In [6]:
df.dtypes

Unnamed: 0                    int64
date                         object
daily_confirmed_cases         int64
daily_deaths                  int64
countries_and_territories    object
geo_id                       object
pop_data_2019                 int64
dtype: object

In [7]:
df["date"] = df["date"].apply(lambda x: np.datetime64(x))

In [8]:
df["month & year"] = df["date"].apply(lambda x: x.to_period('M'))

In [9]:
df

     Unnamed: 0       date  ...  pop_data_2019  month & year
0           124 2020-01-01  ...      270625567       2020-01
1           125 2020-01-02  ...      270625567       2020-01
2           126 2020-01-03  ...      270625567       2020-01
3           127 2020-01-04  ...      270625567       2020-01
4           128 2020-01-05  ...      270625567       2020-01
..          ...        ...  ...            ...           ...
337          79 2020-12-10  ...      270625567       2020-12
338          80 2020-12-11  ...      270625567       2020-12
339          81 2020-12-12  ...      270625567       2020-12
340          82 2020-12-13  ...      270625567       2020-12
341          83 2020-12-14  ...      270625567       2020-12

[342 rows x 8 columns]

In [10]:
pv = pd.pivot_table(df, index="month & year", values=["daily_confirmed_cases", "daily_deaths"], aggfunc=np.sum)

In [11]:
pv

              daily_confirmed_cases  daily_deaths
month & year
2020-01                           0             0
2020-02                           0             0
2020-03                        1414           122
2020-04                        8357           662
2020-05                       16002           789
2020-06                       29319          1232
2020-07                       51244          2253
2020-08                       65717          2285
2020-09                      110671          3258
2020-10                      124221          3181
2020-11                      127321          3033
2020-12                       83554          2004

In [26]:
daily_cases = df.groupby('month & year')['daily_confirmed_cases'].sum()

In [18]:
daily_deaths1 = df.groupby('month & year')['daily_deaths'].sum()

In [27]:
Total_cases = df['daily_confirmed_cases'].sum()

In [28]:
print(Total_cases)

617820

In [56]:
Total_deaths = df['daily_deaths'].sum()
print(f'Total deaths : {Total_deaths} ')

Total deaths : 18819

18819

In [32]:
print(pv)

              daily_confirmed_cases  daily_deaths
month & year
2020-01                           0             0
2020-02                           0             0
2020-03                        1414           122
2020-04                        8357           662
2020-05                       16002           789
2020-06                       29319          1232
2020-07                       51244          2253
2020-08                       65717          2285
2020-09                      110671          3258
2020-10                      124221          3181
2020-11                      127321          3033
2020-12                       83554          2004

In [33]:
pv.to_csv("rizqi_monthly_report_covid_indonesia_2020.csv")

In [60]:
with open('rizqi_monthly_report_covid_indonesia_2020.csv','a') as fd:
  fd.write(f' Total Deaths : {str(Total_deaths)}')

In [61]:
with open('rizqi_monthly_report_covid_indonesia_2020.csv','a') as fd:
  fd.write(f' Total Cases : {str(Total_cases)}\n')

In [62]:
fileku = open('rizqi_monthly_report_covid_indonesia_2020.csv','r')
data = fileku.read()
print(data)

month & year,daily_confirmed_cases,daily_deaths
2020-01,0,0
2020-02,0,0
2020-03,1414,122
2020-04,8357,662
2020-05,16002,789
2020-06,29319,1232
2020-07,51244,2253
2020-08,65717,2285
2020-09,110671,3258
2020-10,124221,3181
2020-11,127321,3033
2020-12,83554,2004
 Total Deaths : 18819 Total Cases : 617820