In [1]:
import numpy as np 
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import StandardScaler

In [18]:
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [20]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [21]:
binary_cols = [col for col in df.columns if df[col].dtype in ["O"] and col != "Car_Name"]

df = pd.get_dummies(df, columns=binary_cols, drop_first=False)

df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,0,0,0,1,1,0,0,1
1,sx4,2013,4.75,9.54,43000,0,0,1,0,1,0,0,1
2,ciaz,2017,7.25,9.85,6900,0,0,0,1,1,0,0,1
3,wagon r,2011,2.85,4.15,5200,0,0,0,1,1,0,0,1
4,swift,2014,4.60,6.87,42450,0,0,1,0,1,0,0,1

In [40]:
X=df.drop(["Car_Name","Selling_Price"], axis=1)
y=df["Selling_Price"]

In [41]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [42]:
#Linear Regression
lr= LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [43]:
#MSE
mean_squared_error(y_test, y_pred)

2.162871527787962

In [44]:
#RMSE
np.sqrt(mean_squared_error(y_test, y_pred))

1.4706704347976682

In [45]:
#MAE
mean_absolute_error(y_test, y_pred)

0.9937753386731192

In [46]:
#Rsquare
r2_score(y_test, y_pred)

0.9144342972228372

In [47]:
#Tree Regression
dt = DecisionTreeRegressor(random_state=0)
dt.fit(x_train,y_train)

y_pred5=dt.predict(x_test)

In [48]:
# MSE
mean_squared_error(y_test, y_pred5)
# RMSE
np.sqrt(mean_squared_error(y_test, y_pred5))
# MAE
mean_absolute_error(y_test, y_pred5)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred5))
print('Mean Squared Error:', mean_squared_error(y_test, y_pred5))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred5)))

Mean Absolute Error: 0.5968852459016393
Mean Squared Error: 0.7819524590163934
Root Mean Squared Error: 0.8842807580267669

In [49]:
r2_score(y_test, y_pred5)

0.9690650550277956

In [51]:
df1 = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')
df1.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [53]:
df1.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [54]:
binary_cols = [col for col in df1.columns if df1[col].dtype in ["O"] and col != "name"]

df1 = pd.get_dummies(df1, columns=binary_cols, drop_first=False)

df1.head()

,name,year,selling_price,km_driven,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti 800 AC,2007,60000,70000,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0

In [55]:
X=df1.drop(["name","selling_price"], axis=1)
y=df1["selling_price"]

In [56]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [57]:
#Linear Regression
lr= LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [58]:
#MSE
mean_squared_error(y_test, y_pred)
#RMSE
np.sqrt(mean_squared_error(y_test, y_pred))
#MAE
mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 241277.48532346947
Mean Squared Error: 184744579007.573
Root Mean Squared Error: 429819.23992252024

In [59]:
#Rsquare
r2_score(y_test, y_pred)

0.5025071208924419

In [60]:
#Tree Regression
dt = DecisionTreeRegressor(random_state=0)
dt.fit(x_train,y_train)

y_pred5=dt.predict(x_test)

In [61]:
# MSE
mean_squared_error(y_test, y_pred5)
# RMSE
np.sqrt(mean_squared_error(y_test, y_pred5))
# MAE
mean_absolute_error(y_test, y_pred5)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred5))
print('Mean Squared Error:', mean_squared_error(y_test, y_pred5))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred5)))

Mean Absolute Error: 185723.25656568533
Mean Squared Error: 248264403132.08548
Root Mean Squared Error: 498261.3803337416

In [62]:
#Rsquare
r2_score(y_test, y_pred5)

0.33145657990301425